.buttons {
    display: flex;
    justify-content: space-evenly;

}
.buttons #rock {
    width: 300px;
    height: 250px;
    background-image: url(images/rock-hand1.jpg);
    border-radius: 10px;
    background-repeat: no-repeat; 
    background-position: center;
    background-color: black;
}
.buttons #rock:hover{
    cursor: cell;
    background-image: url(images/rock&roll.jpg);
}
.buttons #paper {
    width: 300px;
    height: 250px;
    background-image: url(images/paper5.gif);
    border-radius: 10px;
    position: relative;
    background-repeat: no-repeat;
    
}
.buttons #paper:hover {
    cursor: cell;
    background-image: url(images/paper4.jpg);
    
}
.buttons #scissors {
    width: 300px;
    height: 250px;
    background-image: url(images/scissors-hand1.jpg);
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}
.buttons #scissors:hover {
    cursor: cell;
    background-image: url(images/scissors-hand2.jpg);
}
#headerImage {
    height: 200px;
    background-image: url(images/rpc3.jpg);
    margin-top: 0px;
}

h2 {
    display: grid;
    justify-content: center;
    color: red;
}
#header {
    color: rgb(217, 219, 69);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
h4 {
    display: flex;
    justify-content: center;
}
p {
    display: flex;
    justify-content: center;
    padding: 0px;
}
body #finalResult {
    display: flex;
    justify-content: center;
    font-size: large;
    background-color: orangered;
    margin-top: 30px;
    height: 50px;
    align-items: center;
    color: white;
    font-size: 25px;
} 
body #results {
    display: flex;
    justify-content: center;
    color: rgb(1, 6, 20);
    font-weight: bolder;
    margin-top: 5px;
    height: 48px;
    font-size: 18px;
}

body {
    background-color: rgb(31, 27, 27);
    padding: 2px;
}
img {
    width: 300px;
    height: 250px;
}

